<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:ingest.properties</value>
		</property>
	</bean>

	<bean id="twitterFileStringSequenceSource" class="trendulo.ingest.twitter.TwitterFileStringSequenceSource">
		<constructor-arg value="${ingest.twitterFilePath}" />
	</bean>
	
	<bean id="nGramSource" class="trendulo.ingest.TemporalNGramSource">
		<constructor-arg ref="twitterFileStringSequenceSource" />
		<property name="nStart" value="${ingest.nStart}"/>
		<property name="nEnd" value="${ingest.nEnd}"/>
	</bean>
	
	<bean id="nGramIngester" class="trendulo.ingest.TemporalNGramIngester">
		<constructor-arg ref="nGramSource" />
	</bean>
</beans>